<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--LOGS Location-->
    <add key="LogFilesLocation" value="c:\Logs" />
    <!--CERTIFICATION FOLDER PATH-->
    <add key="CertificationFolderLocation" value="c:\LumXCertificationFolder" />
    <!--Application to Load-->
    <add key="AdditionalApplicationToLoad" value="ServerConsole_Tester.exe" />
  </appSettings>
</configuration>