<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--CERTIFICATION FOLDER PATH-->
    <add key="CertificationFolderLocation" value="c:\LumXCertificationFolder" />
    <!--LOGS Location-->
    <add key="LogFilesLocation" value="c:\Logs" />
    <!--SIMULATOR RELATED FIELDS-->
    <add key="RunInSimulatorMode" value="false" />
    <!--DEFAULT USER-->
    <add key="DefaultUserEmail" value="simulator@simulator.com" />
    <add key="DefaultUserPass" value="12345" />
    <!--EVENTS QoS0 MANAGEMENT FIELDS-->
    <!--USE <add key="MaxQoS0EventsBulkSizeToSend" value="5000" />-->
    <add key="MaxQoS0EventsBulkSizeToSend" value="1000" />
    <add key="MaxQoS0EventAgeInBuffer" value="3000" />
    <!--BIO-T RELATED FIELDS-->
    <add key="aws-environment" value="int" />
    <add key="endpoint" value="https://api.int.lumenisx.lumenis.com" />
    <add key="device-registerdevice-defaulttenantid" value="5bded880-cf08-435f-bfbd-02934c4b547e" />
    <add key="is-service-user-mode" value="true" />
    <add key="ums-login-path" value="/ums/v1/users/loginCredentials" />
    <add key="ums-refreshaccesstoken-path" value="/ums/v1/users/current/refreshToken" />
    <add key="device-getdeviceinfo-path" value="/device/v1/lumDevice/types/{deviceType}/serialNumbers/{deviceSerialNumber}" />
    <add key="device-generateCertificate-path" value="/device/v1/lumDevice/generateCertificate/types/{deviceType}/serialNumbers/{deviceSerialNumber}" />
    <add key="customer-getcustomerdetails-path" value="/organization/v1/customers/types/{deviceType}/serialNumbers/{deviceSerialNumber}" />
    <add key="customer-submitcustomerdetails-path" value="/organization/v1/customers/types/{deviceType}/serialNumbers/{deviceSerialNumber}/mandatory" />
    <add key="ca-certificate-name" value="CaCert.pem" />
    <add key="private-key-name" value="private.pem.key" />
    <add key="certificate-name" value="certificate.pem.crt" />
    <add key="device-certificate-name" value="devicecertificate.pfx" />
    <add key="certificate-password" value="bfcc1c73-91f6-4b78-992d-64998f73058a" />
    <add key="iot-endpoint-name" value="endpoint.url.txt" />
    <add key="device-acknowledgeCertificate-path" value="/device/v1/lumDevice/types/{deviceType}/serialNumbers/{deviceSerialNumber}/acknowledgeCertificate" />
    <add key="aws-iot-topic-command" value="/device/{commandName}/{deviceType}/{deviceSerialNumber}" />
    <add key="aws-iot-topic-telemetry" value="/device/telemetry/{deviceType}/{deviceSerialNumber}" />
    <add key="device-getdeviceslist-path" value="/device/v1/lumDeviceTypes" />
    <add key="OpenSslExePath" value="C:\Program Files\OpenSSL-Win64\bin\openssl.exe" />
    <add key="device-registerdevice-path" value="/device/v1/lumDevice/register" />
    <add key="ums-serviceuserlogin-path" value="/ums/v2/services/accessToken" />
    <add key="device-credentials-file-name" value="credentials.txt" />
  </appSettings>
</configuration>